html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.Timer{
    display: flex;
    justify-content: center;
    font-size: 70px;
}
select{
    padding: 10px 20px;
    font-size: 30px;
}
button{
    padding: 10px 20px;
    font-size: 30px;
}